* {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
}

body {
  display: flex;
  flex-direction: column;
}

.header .left h3 {
  color: #f9faf8;
}

.header .right a {
  color: #e5e7eb; 
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 64px;
}

.header .right {
  display: flex;
  gap: 32px;
}

