* {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
}

body {
  display: flex;
  flex-direction: column;
}

.header .left h3 {
  color: #f9faf8;
  font-size: 24px;
}

.header .right a {
  color: #e5e7eb; 
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 64px;
}

.header .right {
  display: flex;
  gap: 32px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 64px;
  gap: 96px;
}

.hero-container .left {
  flex: 1;
}

.hero-container .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  text-align: center;
  border-radius: 20px;
}

.hero-container .right .image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.hero-container .left h1 {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
  margin: 0px;
  padding-right: 64px;
}

.hero-container .left p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0px;
}

.hero-container .left button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 24px;
  border: 0px;
  margin: 0px;
  margin-top: 12px;
  border-radius: 8px;
}

.hero-container .right .image-placeholder p {
  color: #e5e7eb;
  font-size: 18px;
  background-color: gray;
}

.content-container {
  background-color: #f9faf8;
}
.content-container * {
  background-color: #f9faf8;
}

.content-container h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 0px;
  margin-top: 64px;
}

.cards {
  display: flex;
  padding: 64px 300px;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.card .square {
  border: 2px solid #3882f6;
  border-radius: 12px;
  width: 200px;
  height: 200px;
}

.card p {
  font-size: 12px;
  padding: 8px 32px;
  text-align: center;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
  padding: 128px 300px;
  flex-direction: column;
}
.quote-container * {
  background-color: #e5e7eb;
}

.quote-container .quote {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 0px;
  color: #1f2937;
}

.quote-container .author {
  text-align: right;
  padding-top: 0px;
  color: #1f2937;
  font-size: 18px;
  padding-right: 96px;
}

.cta-modal {
  display: flex;
  margin-bottom: 32px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer p{
  color: #e5e7eb;
  text-align: center;
}